<section class="A4Page">
  <header>
    <section class="identification">
      <!-- Identification -->
      <h1 [innerHtml]="cvData.name"></h1>
      <h2 [innerHTML]="cvData.title"></h2>
    </section>
    <section class="contacts">
      <!-- Contacts -->
      <div class="contactItem">
        <i class="bi bi-envelope-fill"></i>
        <p [innerHTML]="cvData.contacts.email"></p>
      </div>
      <div class="contactItem">
        <i class="bi bi-geo-alt-fill"></i>
        <p [innerHTML]="cvData.contacts.location"></p>
      </div>
      <div class="contactItem">
        <i class="bi bi-github"></i>
        <a
          href="https://github.com/{{ cvData.contacts.github }}"
          target="_blank"
          [innerHTML]="cvData.contacts.github"
        ></a>
      </div>
      <div class="contactItem">
        <i class="bi bi-linkedin"></i>
        <a
          href="https://linkedin.com/in/{{ cvData.contacts.linkedin }}"
          target="_blank"
          [innerHTML]="cvData.contacts.linkedin"
        ></a>
      </div>
    </section>
  </header>
  <div class="body">
    <section class="sectionWithTitle">
      <!-- Profile -->
      <div class="titleArea">
        <i class="bi bi-person-vcard-fill"></i>
        <h1>PROFILE</h1>
      </div>
      <p class="summaryText" [innerHTML]="cvData.summary"></p>
    </section>
    <section class="sectionWithTitle">
      <!-- Professional Experience -->
      <div class="titleArea">
        <i class="bi bi-briefcase-fill"></i>
        <h1 class="sectionTitle">PROFESSIONAL EXPERIENCE</h1>
      </div>
      <div class="experienceSection">
        <div
          *ngFor="let experience of cvData.professionalExperience"
          class="contextInfo"
        >
          <h2 class="jobTitle">
            {{ experience.title }}
          </h2>
          <h3 class="organizationAndLocation">
            {{ experience.organization }} | {{ experience.location }},
            {{ experience.country }}
          </h3>
          <h4 class="datePeriod">
            {{ experience.dateBegin }} - {{ experience.dateEnd }}
          </h4>
          <ul class="description">
            <li *ngFor="let item of experience.body" [innerHtml]="item"></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="sectionWithTitle">
      <!-- Education -->
      <div class="titleArea">
        <i class="bi bi-mortarboard-fill"></i>
        <h1>EDUCATION AND CERTIFICATIONS</h1>
      </div>
      <div class="educationSection">
        <div *ngFor="let education of cvData.education" class="contextInfo">
          <h2 class="jobTitle">
            {{ education.title }}
          </h2>
          <h3 class="organizationAndLocation">
            {{ education.organization }} | {{ education.location }},
            {{ education.country }}
          </h3>
          <h4 class="datePeriod">
            {{ education.dateBegin }} - {{ education.dateEnd }}
          </h4>
        </div>
        <div
          *ngFor="let certification of cvData.certifications"
          class="contextInfo"
        >
          <h2 class="jobTitle">
            {{ certification.title }}
          </h2>
          <h3 class="organizationAndBadge">
            <p>
              {{ certification.organization }}
              <a
                href="{{ certification.badgeUrl }}"
                target="_blank"
                class="clickableURL"
                >(URL)</a
              >
            </p>
            <img
              src="./../../assets/aws-certified-developer-associate.png"
              alt="certification badge"
            />
          </h3>
          <h4 class="datePeriod">
            {{ certification.dateBegin }}
          </h4>
        </div>
      </div>
    </section>
    <section class="sectionWithTitle">
      <!-- Skills -->
      <div class="titleArea">
        <i class="bi bi-gear-wide-connected"></i>
        <h1>SKILLS</h1>
      </div>
      <ul class="skillList">
        <li *ngFor="let obs of cvData.skills" [innerHtml]="obs"></li>
      </ul>
    </section>
    <section class="sectionWithTitle">
      <!-- Additional Information -->
      <div class="titleArea">
        <i class="bi bi-info-circle-fill"></i>
        <h1>ADDITIONAL INFORMATION</h1>
      </div>
      <ul class="observationList">
        <li
          *ngFor="let obs of cvData.additionalInformation"
          [innerHtml]="obs"
        ></li>
      </ul>
    </section>
  </div>
</section>
