@import './../../styles/variable';

#profileImage {
  width: auto;
  height: 180px;
}

#name {
  font-weight: $weight-boldy;
  font-size: $big-header-font-size;
}

#jobTitle {
  color: $strong-wine;
  font-weight: $weight-normal;
  font-size: $sub-big-header-font-size;
}

#contactsSection {
  color: white;

  background: $strong-wine;
  font-size: $bigger-font-size;

  a {
    text-decoration: none;
    transition: color 0.4s;
  }

  a:hover {
    cursor: pointer;
    color: $weak-wine;
  }
}
