body {
  padding-bottom: 100px;
}

#profileImage {
  width: auto;
  height: 180px;
}

#name {
  font-weight: 600;
  font-size: 40px;
}

#jobTitle {
  color: #6b203f;
  font-weight: 400;
  font-size: 30px;
}

#contactsSection {
  background:#6b203f;
}

#contactsSection p {
  color: #ffffff ;
}

#contactsSection a {
  color: #ffffff;
  text-decoration: none;
}

#contactsSection a:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}