@import "./../../styles/variable";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 100%;
  list-style-position: inside;
}

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px 0px;
  background-color: #f9e3e3;

  .A4Page {
    width: 595px;
    height: 842px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 10px;

    @media only screen and (max-width: 595px) {
      width: 100%;
      height: fit-content;
    }

    h1 {
      font-weight: 600;
      font-size: 14px;
    }

    header {
      display: flex;
      flex-direction: column;
      gap: 14px;
      align-items: center;
      justify-content: center;
      padding: 15px 0;
      background-color: #eaeaea;

      > * {
        width: 542px;
        max-width: 100%;

        @media only screen and (max-width: 595px) {
          padding: 0px 10px;
        }
      }

      .identification {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 10px;
  
        h1 {
          font-size: 26px;
          font-weight: 600;
        }
  
        h2 {
          font-size: 20px;
          font-weight: 500;
          line-height: 90%;
          color: #8f8f8f;
        }
      }
  
      .contacts {
        display: flex;
        gap: 15px 15px;
        justify-content: center;
        flex-wrap: wrap;
  
        .contactItem {
          display: flex;
          gap: 5px;
          align-items: center;
  
          a, p {
            font-weight: 400;
          }
  
          a:hover {
            color: $strong-wine;
            text-decoration: underline;
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;

      @media only screen and (max-width: 595px) {
        padding-bottom: 10px;
      }

      > * {
        width: 542px;
        max-width: 100%;

        @media only screen and (max-width: 595px) {
          padding: 0px 10px;
        }
      }

      .sectionWithTitle {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .titleArea {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          padding: 5px 0;
          background-color: #EAEAEA;

          i {
            font-size: 15px;
          }

          h1 {
            font-variant: small-caps;
          }
        }

        .summaryText {
          line-height: 120%;
        }

        .sectionTitle {
          text-align: center;
          font-variant: small-caps;
          font-size: 14px;
        }

        .experienceSection, .educationSection {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .contextInfo {
            display: flex;
            flex-direction: column;
            gap: 2px;
            position: relative;
      
            .jobTitle {
              font-size: 12px;
              font-weight: 700;
            }
      
            .organizationAndLocation {
              font-size: 11px;
              color: #7D7D7D;
            }

            .organizationAndBadge {
              display: flex;
              position: relative;
              gap: 5px;
              align-items: center;
              font-size: 11px;
              font-weight: 400;
              color: #7D7D7D;
              width: fit-content;

              img {
                width: 28px;
                position: absolute;
                right: calc(-28px - 15px);
                bottom: -5px;
              }

              .clickableURL:hover {
                color: $strong-wine;
                text-decoration: underline;
                transition: all 0.1s ease-in-out;
              }
            }
      
            .datePeriod {
              position: absolute;
              right: 0;
              top: 0;
              font-size: 10px;
            }
      
            .description {
              padding-top: 1px;

              > * {
                line-height: 16px;
                font-size: 11px;
                text-align: left;
              }
            }
          }
        }

        .skillList {
          columns: 2;

          > * {
            line-height: 140%;
          }
        }
      }
    }

  }
}
