<!-- CV header -->

<div class="container-fluid">
  <div class="media d-flex">
    <img
      id="profileImage"
      class="m-3 align-self-center rounded-circle"
      [src]="imgPath"
      alt="Profile Picture"
    />
    <div class="media-body p-3">
      <h2 id="name" class="mt-1">Rúben Correia Cerqueira</h2>
      <h3 id="jobTitle" class="mb-4">Software Enginnering Student</h3>
      <h5 class="mb-0">
        Student focused on enriching its knowledge about the different areas
        that software engineering has to offer
      </h5>
    </div>
  </div>
</div>

<!-- Contacts section -->

<div id="contactsSection" class="container-fluid m-0 mt-4 d-sm-block d-lg-flex p-3">
  <div class="container d-block align-middle">
    <div class="d-flex">
      <a href="mailto:rubencorreiacerqueira@gmail.com" class="bi bi-2x bi-envelope-fill text-white"></a>
      <a href="mailto:rubencorreiacerqueira@gmail.com" class="ms-2 mb-2">rubencorreiacerqueira@gmail.com</a>
    </div>
    <div class="d-flex">
      <i class="bi bi-2x bi-geo-alt-fill text-white"></i>
      <p class="ms-2 mb-2">Ponte de Lima, Portugal</p>
    </div>
    <div class="d-flex">
      <a href="https://github.com/Elstryker" class="bi bi-2x bi-github text-white"></a>
      <a href="https://github.com/Elstryker" class="ms-2 mb-0 text-white">github.com/Elstryker</a>
    </div>
  </div>
  <div class="container d-block py-2 py-lg-0">
    <div class="d-flex">
      <a href="mailto:rubencorreiacerqueira@gmail.com" class="bi bi-2x bi-phone-fill text-white"></a>
      <a href="mailto:rubencorreiacerqueira@gmail.com" class="ms-2 mb-2 text-white">Given by request by email</a>
    </div>
    <div class="d-flex">
      <a href="https://linkedin.com/in/rubenccerqueira" class="bi bi-2x bi-linkedin text-white"></a>
      <a href="https://linkedin.com/in/rubenccerqueira" class="ms-2 mb-0 text-white">linkedin.com/in/rubenccerqueira</a>
    </div>
  </div>
</div>

<div class="container d-flex mt-4 p-4 bg-primary text-white rounded align-content-center">
  <p class="p-0 m-0">
    CV Body (WIP)
  </p>
</div>
