<!-- CV header -->

<div class="container-fluid p-0">
  <div class="media d-flex">
    <img
      id="profileImage"
      class="m-3 ms-lg-5 align-self-center rounded-circle"
      [src]="imgPath"
      alt="Profile Picture"
    />
    <div class="d-flex media-body p-3 justify-content-center flex-column">
      <h2 id="name" class="mt-1">Rúben Correia Cerqueira</h2>
      <h3 id="jobTitle" class="mb-4">Software Engineering Student</h3>
      <h5 class="mb-0">
        {{ headerDescription }}
      </h5>
    </div>
  </div>
</div>

<!-- Contacts section -->

<div
  id="contactsSection"
  class="container-fluid m-0 mt-4 d-block d-lg-flex p-3"
>
  <div class="container-fluid d-block ms-lg-4">
    <div class="d-flex">
      <a
        href="mailto:{{ contactData.email }}"
        class="bi bi-2x bi-envelope-fill"
      ></a>
      <a href="mailto:{{ contactData.email }}" class="ms-2 mb-2"
        >{{ contactData.email }}
      </a>
    </div>
    <div class="d-flex">
      <i class="bi bi-2x bi-geo-alt-fill"></i>
      <p class="ms-2 mb-2">{{ contactData.location }}</p>
    </div>
    <div class="d-flex">
      <a
        href="https://github.com/{{ contactData.github }}"
        class="bi bi-2x bi-github"
      ></a>
      <a
        href="https://github.com/{{ contactData.github }}"
        class="ms-2 mb-0"
        >{{ contactData.github }}</a
      >
    </div>
  </div>
  <div class="container-fluid d-block py-2 py-lg-0">
    <div class="d-flex">
      <a
        href="mailto:rubencorreiacerqueira@gmail.com"
        class="bi bi-2x bi-phone-fill"
      ></a>
      <a href="mailto:{{ contactData.email }}" class="ms-2 mb-2"
        >Given by request by email</a
      >
    </div>
    <div class="d-flex">
      <a
        href="https://linkedin.com/in/{{ contactData.linkedin }}"
        class="bi bi-2x bi-linkedin"
      ></a>
      <a
        href="https://linkedin.com/in/{{ contactData.linkedin }}"
        class="ms-2 mb-0"
        >{{ contactData.linkedin }}
      </a>
    </div>
  </div>
</div>

<!-- Content -->

<app-cv-body></app-cv-body>
