<div class="container-fluid d-flex mt-3 mx-0 p-3">
  <div class="container col-6 m-0 ms-lg-4">
    <div id="Education">
      <h1 class="catTitle">Education</h1>
      <hr>
      <div *ngFor="let item of bodyData.education">
        <h1 class="title"></h1>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div id="Projects">
      <h1 class="catTitle">Academical and Personal Projects</h1>
      <hr>
      <div *ngFor="let item of bodyData.academicalAndPersonalProjects">
        <h1 class="title"></h1>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div id="Work">
      <h1 class="catTitle">Professional Experience</h1>
      <hr>
      <div *ngFor="let item of bodyData.professionalExperience">
        <h1 class="title"></h1>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="container col-6 m-0">
    <div id="Knowledge">
      <h1 class="catTitle">Technical Knowledge</h1>
      <hr>
      <div *ngFor="let item of bodyData.technicalKnowledge">
        <h1 class="title"></h1>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div id="Observations">
      <h1 class="catTitle">Observations</h1>
      <hr>
      <div *ngFor="let item of bodyData.observations">
        <h1 class="title"></h1>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div id="Languages">
      <h1 class="catTitle">Languages</h1>
      <hr>
      <div *ngFor="let item of bodyData.languages">
        <h1 class="title"></h1>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div id="Interests">
      <h1 class="catTitle">Interests</h1>
      <hr>
      <div *ngFor="let item of bodyData.interests">
        <h1 class="title"></h1>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
