@import 'src/styles/index.scss';

.catTitle {
  color: $strong-wine;
  font-weight: $weight-bold;
}

.borderShower {
  border: 2px solid black;
}

.title {
  color: black;
  font-weight: 500;
}

.metaBlock {
  font-size: $normal-font-size;
  justify-content: flex-start;
  color: #8b3b53;
}

ul {
  list-style-position: inside;
}

.listItem::before {
  content: "\2022";
  color: #8b3b53;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.listItem {
  font-size: $normal-font-size;
  text-align: left;
  font-weight: $weight-regular;
  list-style: none;
}

.technicalItem {
  background-color: $weak-wine;
  color: white;
  border: 1px solid $weak-wine-border;
  border-radius: 5px;
  font-size: $big-font-size;
}

.interest {
  background-color: white;
  color: black;
  border: 1px solid $weak-wine-border;
  border-radius: 5px;
  font-size: $big-font-size;
}

.language {
  font-size: $big-font-size
}

.languageDesc {
  font-size: $normal-font-size;
  font-style: italic;
  color: #6b2036;
}

/* Select last div of languages to not have margin
    as it could be wrapped unnecessarily */
.langContainer > div:last-child > div {
  margin-right: 0 !important;
}

.italic {
  font-style: italic;
}