
// Font-weights

$weight-regular: 300;
$weight-normal: 400;
$weight-bold: 500;
$weight-boldy: 600;

// Colors

$strong-wine: #6b203f;
$weak-wine: #b58f9f;

// Specific colors
$nav-bar-color: #f9e3e3;

// Border colors

$weak-wine-border: #a57c8d;

// Font-size

$small-font-size: 10px;
$normal-font-size: 11px;
$big-font-size: 14px;
$bigger-font-size: 16px;
$header-font-size: 24px;
$big-header-font-size: 34px;

// Responsiveness

$width-threshold: 992px;