@import "./../styles/variable";

* {
  padding: 0;
  margin: 0;
}

.footerIcons > a > i {
  transition: 0.2s;
}

.footerIcons > a > i:hover {
  color: $strong-wine;
  cursor: pointer;
}

#viewWrapper {
  height: 100%;

  #navigationBar {
    align-items: center;
    justify-content: space-between;
    background-color: $nav-bar-color;
    height: 70px;
    padding: 8px 35px;
  
    .homeLabel {
      font-weight: $weight-bold;
      font-size: $big-header-font-size;
      transition: 0.1s;
  
      &:hover {
        color: $strong-wine;
      }
    }
  
    .headerTabs {
      text-decoration: none;
      list-style-type: none;
  
      .headerTab {
        font-size: $header-font-size;
        font-weight: $weight-boldy;
        margin-top: 2px;
  
        .headerTabItem {
          color: black;
          transition: color 0.2s, border-color 0.2s;
          border-bottom: 2px solid transparent;
        }
  
        .headerTabItem:hover {
          color: $strong-wine;
          border-color: $strong-wine;
        }
  
        &.disabled {
          cursor: not-allowed;
  
          .headerTabItem {
            pointer-events: none;
            color: #a1a1a0;
          }
        }
  
        .active-link {
          color: $strong-wine;
        }
      }
    }
  }
  
  #pageContent {
    border-top: 1px solid $weak-wine-border;
    border-bottom: 1px solid $weak-wine-border;
    flex: 1 0 auto;
  }
  
  #footerBar {
    background-color: $nav-bar-color;
  }
  
  #page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91%;
  }
}

