<div id="viewWrapper">
  <div id="navigationBarWrapper" class="d-flex" [class.shrunk]="isHeaderShrunk">
    <div class="navigationBar">
      <a class="homeLabel" routerLink="/dashboard">Rúben</a>
      <ul class="headerTabs">
        <li class="headerTab">
          <a
            class="headerTabItem"
            routerLink="/cv"
            routerLinkActive="active-link"
            >CV</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div id="page" (scroll)="onScroll($event)">
    <div id="pageContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
