@import "./../styles/variable";

* {
  padding: 0;
  margin: 0;
}

#viewWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #010208 4%, #0f1439 100%);
  position: relative;
  overflow: hidden;

  #navigationBarWrapper {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    transition: 0.6s ease;
    height: 70px;
    padding: 8px 35px;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(3px);

    &.shrunk {
      height: 30px;
      padding: 4px 20px;

      .navigationBar {
        .homeLabel {
          font-size: 16px;
        }

        .headerTabs {
          .headerTab {
            font-size: 12px;
          }
        }
      }
    }

    .navigationBar {
      max-width: 768px;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .homeLabel {
        font-weight: $weight-bold;
        font-size: $big-header-font-size;
        color: white;
        transition:
          border-color 0.5s ease,
          font-size 0.6s ease,
          background-image 0.5s ease;
        border-bottom: 2px solid transparent;

        &:hover {
          background-image: $gradient-primary-orange;
          background-clip: text;
          color: transparent;
          transition:
            border-color 0.5s ease,
            background-image 0.5s ease,
            color 0.5s ease;
        }
      }

      .headerTabs {
        text-decoration: none;
        list-style-type: none;

        .headerTab {
          transition: font-size 0.6s ease;
          font-size: $header-font-size;
          font-weight: $weight-boldy;
          margin-top: 2px;

          .headerTabItem {
            color: white;
            transition:
              border-color 0.5s ease,
              background-image 0.5s ease;
            border-bottom: 2px solid transparent;
          }

          .headerTabItem:hover {
            background-image: $gradient-primary-orange;
            background-clip: text;
            color: transparent;
            transition:
              border-color 0.5s ease,
              background-image 0.5s ease,
              color 0.5s ease;
            border-color: #f25936;
          }

          &.disabled {
            cursor: not-allowed;

            .headerTabItem {
              pointer-events: none;
              color: #a1a1a0;
            }
          }

          .active-link {
            color: $primary-orange;
          }
        }
      }
    }
  }

  #page {
    padding-top: 70px;
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;

    &Content {
      max-width: 768px;
      width: 100%;
    }
  }
}
