<div id="dashboardView">
  <div id="dashboardView-content">
    <div id="infoBody">
      <div id="infoBody-paragraphs">
        <p>Hi! I'm Rúben Cerqueira</p>
        <p>Software Engineering Student</p>
      </div>
      <div id="infoBody-photo">
        <img src="./../../assets/photo.jpeg" />
      </div>
    </div>
    <div id="buttonGroup">
      <button routerLink="/routerLink" class="disabled">About me</button>
      <button routerLink="/cv">CV</button>
      <button routerLink="/projects" class="disabled">Projects</button>
    </div>
  </div>
</div>
