@import "./../../styles/variable";

//Colors
$font-color: white;
$button-bg-color: $primary-blue;
$button-border-color: white;
$disabled-color: #b7b7b7;
$disabled-border-color: #8d8d8d;
$paragraph-weight: $weight-normal;

// Hover
$hover-button-bg-color: linear-gradient(180deg, $primary-blue 80%, #212759 100%);

#dashboardView {
  color: $font-color;
  background-color: transparent;
  height: 100%;
  width: 100%;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  #infoBody {
    display: flex;
    justify-content: space-between;

    &-paragraphs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      p {
        font-size: 34px;
        font-weight: $paragraph-weight;
      }

      .primary-orange {
        color: $primary-orange;
      }

      p:nth-of-type(2) {
        font-size: 25px;
      }

      @media only screen and (max-width: $width-threshold) {
        & {
          align-items: center;
          padding: 0;
          margin-bottom: 30px;
        }
      }
    }

    &-photo {
      display: flex;
      justify-content: right;
      align-items: center;

      img {
        display: block;
        height: 280px;
        width: auto;
        border-radius: 15%;
      }

      @media only screen and (max-width: $width-threshold) {
        & {
          justify-content: center;
        }
      }
    }

    @media only screen and (max-width: $width-threshold) {
      & {
        display: block;
      }
    }
  }
}
